<!doctype html>
<html lang="en">

<head><%- include("../partials/head", { title }) %></head>

<body class="auth-page">
    <main class="auth-card"><%- body %></main><%- include("../partials/alerts") %><%- include("../partials/scripts") %>
</body>

</html>