<section>

    <h1 class="h3 mb-4">Sign in</h1>

    <form action="/auth/login" method="post" id="login-form" class="vstack gap-3" >
        <input class="form-control" name="email" type="email" placeholder="Email" required>
        <input class="form-control" name="password" type="password" placeholder="Password" required>

        <button
            class="btn btn-primary" type="submit">
            Sign in
        </button>
            <a href="/auth/register">Create account
        </a>

    </form>

</section>

<script src="/frontend-assets/js/auth.js">

</script>